/* ================= CUSTOM CURSOR ================= */
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  pointer-events: none;
  mix-blend-mode: difference;
  will-change: transform;

}

.cursor__ball {
  position: absolute;
  transform: translate(-50%, -50%);
  will-change: transform;
}

.cursor__ball--big {
  width: 30px;
  height: 30px;
}

.cursor__ball--big circle {
  fill: #f7f8fa;
}

.cursor__ball--small {
  width: 10px;
  height: 10px;
}

.cursor__ball--small circle {
  fill: #fff;
}

/* Hover effect */
.cursor__ball--big.hover {
  transform: translate(-50%, -50%) scale(1.5);
}

/* Disable on touch devices */
@media (pointer: coarse) {
  .cursor {
    display: none !important;
  }
  body {
    cursor: auto !important;
  }
}


.cursor__ball--big circle {
  /* Altere o preenchimento para branco para que o mix-blend-mode funcione corretamente */
  fill: #ffffff; 
}